
/*.data-table .product-image img {
    max-width: none;
    min-width: 100px;
    margin-top: 35px;
}*/
/*a {
    color: #08c;
    text-decoration: none;
    transition: all .3s;
    padding-bottom: 38px;
}*/
/*a.product-image {
    position: relative !important;
    display: inline-grid !important;
    margin-top: 100px;
}*/
/*-----------------------------------header start------------------------------------*/

/*--------------------------logo---------------------------*/

.header>.logo {
    margin: 5px -82px 2px 0 !important;
    text-decoration: none!important;
    max-width: 500% !important;
    display: inline-block;
    vertical-align: middle;
    max-width: 170px;
    width: 40% !important;
    padding-bottom: 4px;
    top: -3px;
    position: relative;
    z-index: 2;
    transition: none;
    left: -8%;
}
.header .logo img {
    max-width: 100%;
    height: 95px !important;
}
/*---------------------search area background color----------------------*/
.header-container.type3 .header .form-search {
    border-color: transparent;
    background-color: white !important;
}
/*-----------------cart notification bar----------------------*/
.mini-cart .qty-price {
    color: #ff4e00 !important;
}
/*--------------------Home page slider arrow color------------------------*/
.owl-middle-narrow .owl-controls .owl-buttons div {
    font-size: 40px;
    background: none;
    color: #ff4e00 !important;
    position: absolute;
}
/*-------------------header top-links----------------------*/
.header-container.type3 .top-links-container {
    background-color: #ff4e00 !important;
}
/*-----------------------header middle container------------------------------------*/
.header-container.type3 {
    border: 0;
    background-color: #ff4e00 !important;
}
/*-------------------------nav bar below header-----------------------------*/
.header-container.type3 .main-nav {
    background-color: #ff4e00 !important;
}
/*-----------------------------------------searchbar---------------------------------------*/
.header-container.type3 .header .form-search #search {
    background-color: white !important;
    color: #ddd;
}
.top-container .category-banner {
    background-color: transparent;
    display: none !important;
}
/*----------------------cart icon item contity --------------------------*/
.header-container.type3 .mybag-link .cart-qty {
    display: block;
    font-size: 14px !important;
    color: #000;
}
/*---------------------Home link----------------------------*/
.header-container.type3 .main-nav ul.menu>li.act>a, .header-container.type3 .main-nav ul.menu>li:hover>a {
    color: white !important;
}

/*--------------------------cart area---------------------------------*/

.cart-area {
    position: absolute;
    top: 58% !important;
    margin-top: -20px !important;
    z-index: 1;
    display: inline-block;
    height: 40px;
    right: -1% !important;
    text-align: right;
    vertical-align: middle;
}
/*-------------------------search bar width default------------------------------*/
.header .form-search {
    overflow: visible;
    border:none !important;
    border-radius: 20px;
    position: relative;
    width:300px !important;
    margin-top: 9px;
    margin-left: -32%;
    min-width: 250px;
    padding-right: 170px;
    background-color: #fff;
    left: 43% !important;
}
/*----------------------cart icon--------------------------*/
.header-container.type3 .mybag-link .cart-info {
    display: block;
    position: absolute;
    text-align: center;
    width: 117%;
    top: 35%;
    margin-top: -9px;
}
/*-----------------------search area properties-----------------------*/
.header-container.type3 .header .form-search #cat {
    border-color: #0076ae;
    border-color: white;
    color: black !important;
    background-color: white !important;
}
/*------------------------search button--------------------------*/
.header-container.type3 .header .form-search button.button {
    color: black !important;
    background-color: white !important;
}
/*----------cart notification--------------*/
.mini-cart .totals {
    padding: 10px 21px;
    text-align: center;
    font-size: 18px;
    color: #ff4e00 !important;
    font-weight: 700;
}
/*--------------quick view--------------------*/
a.quickview-icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ff4e00 !important;
    color: #fff;
    padding: 10px;
    z-index: 9;
    border-radius: 0 5px;
    opacity: 0;
    visibility: hidden;
    transition: .1s all;
    font-size: 12px;
    line-height: 1.4;
}
/*-----------------------dropdown navbar head color----------------------------*/
.fixed-header ul.menu >li .nav-sublist-dropdown, .main-nav ul.menu >li .nav-sublist-dropdown {
    border: 0;
    background-color: #fff;
    border-radius: 0 6px 6px 6px;
    padding: 5px 0;
    min-width: 160px;
    width: auto;
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.3);
    border-top: 5px  solid #ff4e00 !important;
}
/*-------------menu item text color - hover------------------*/
.category3 a:hover {
    color: white !important;
    text-decoration: none !important;
}
.topCartContent:before {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    display: block;
    right: 15px;
    top: -25px;
    border-bottom-color: #ff4e00 !important;
}
/*----------------price text color----------------*/
.product-view .product-shop .price-box .regular-price .price {
    font-size: 36px;
    color: #ff4e00 !important;
}
/*-----------------------------------header end------------------------------------*/

/*---------------------------------product------------------------------------*/

/*----------featured product max item u want to show----------*/
.toolbar-bottom .toolbar .sorter .limiter {
    float: right;
    display: none;
}
/*---------------------text color------------------------*/
.etalage-control a {
    color: #ff4e00 !important;
    text-decoration: none;
    transition: all .3s;
}
.product-img-box ul li a {
    color: #ff4e00 !important;
    text-decoration: none;
    transition: all .3s;
}
.prev-next-products .product-nav .product-pop:before {
    content: "";
    width: 5px;
    height: 2px;
    border: 5px solid transparent;
    border-bottom-color:  #ff4e00 !important;
    display: block;
    position: absolute;
    top: -13px;
    left: 0;
}
/*---------------------------------product end------------------------------------*/

/*--------------------------mobile view padding adjustment------------------------------*/
.row {
    margin-left: -15px;
    margin-right: 0px !important;
}

.main {
    text-align: center !important;
}
ul li.contact-form {
    display: inline-flex;
}
/*.test {
    width: 140px;
    border: none;
    word-break:break-all ;
}*/
/*------------------------color---------------------------*/

/*---------------------login page header-----------------------*/

/*-----------------login page text--------------------*/
.form-wrap h2, #form-validate h2 {
    color:#ff4e00 !important;
    text-transform: uppercase;
    margin: 0 0 20px;
}
/*---------------------header-----------------------*/
#login-form {
    display: block;
    border: 1px solid #ececec;
    border-radius: 8px;
    background: #fff;
    border-top: 4px solid #ff4e00 !important;
    padding: 35px 25px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.08);
}

/*----------------------------------login page end----------------------------------*/

/*----------------------------------checkout page------------------------------------*/

/*------------checkout page text color-------------*/
.opc .step-title .number {
    float: left;
    padding: 0;
    margin: 0 5px 0 0;
    color: #ff4e00 !important;
    font-size: 16px;
    line-height: 1;
}
/*------------checkout page text color-------------*/
.opc .step-title h2 {
    float: left;
    margin: 0;
    line-height: 1;
    color: #ff4e00 !important;
    font-size: 16px;
}
.buttons-set a {
    line-height: 35px;
    color: red;
}
/*----------------------------------checkout page end------------------------------------*/

/*------------------list view product quick view icon-----------------------*/
a.quickviewlink.quickview-icon {
    position: static;
    padding: 0;
    visibility: visible;
    opacity: 1;
    color: white !important;
    background-color: transparent;
    font-size: 17px;
    display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 32px;
    border:none !important;
    border-radius: 5px;
    text-align: center;
}

/*--------------------------------product page------------------------------------*/

/*----------------product page description head color-----------------*/
.product-tabs>ul li.active {
    background-color: #fff;
    border-top-color: #ff4e00 !important;
}
/*------------product page description text color---------------*/
.product-tabs>ul li a {
    display: inline-block;
    padding: 10px 15px;
    color: #ff4e00 !important;
    font-size: 14px;
    line-height: 1;
}
/*--------------color---------------*/
.theme-border-color {
    border-color: #ff4e00 !important;
}
/*--------------------------------product page end------------------------------------*/

/*--------------------------------buttons property------------------------------------*/
button.button span {
    display: block;
    border: 0;
    background: #ff4e00 !important;
    padding: 0 15px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    line-height: 38px;
    border-radius: 5px;
}
button.button span span {
    border: 0;
    padding: 0;
    color: white !important;
    border-width: 0;
    background: transparent;
    line-height: inherit;
}
.btn-default {
    color: #fff;
    font-weight: 400;
    background-color: #ff4e00 !important;
    text-shadow: none;
    border: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}
.btn-remove {
    position: relative;
    display: block;
    width: 23px;
    height: 23px;
    text-indent: -9999px;
    overflow: hidden;
    padding: 5px 0;
    font-size: 13px;
    color: black !important;
    line-height: 1;
}
/*--------------------------------buttons property end------------------------------------*/
.col-main .page-title h1, .col-main .page-title h2 {
    font-size: 20px;
    margin: 0 0 15px;
    color: #ff4e00 !important;
}
.data-table .product-name a {
    color: #ff4e00 !important;
}
.cart-table td.td-total .cart-price {
    color: black !important;
}

.cart-area .custom-block a:hover {
    color: black !important;
    text-decoration: underline;
}


/*---------------add to cart button-------------------*/
/*.item .details-area .actions {
    margin: 0 -10px;
    margin-left: 15px !important;
}*/

/*.item:hover .details-area .actions a.addtocart, .category-products .products-list li.item .details-area .actions a.addtocart {
    color: black !important;
    background-color: #ff4e00 !important;
}*/

/*--------------colors-----------------*/
.item:hover .details-area .actions a.addtocart, .category-products .products-list li.item .details-area .actions a.addtocart {
    border-color: #ff4e00 !important;
    color: #fff;
    background-color: #ff4e00 !important;
}
.sorter .view-mode strong i, .sorter .view-mode a:hover i {
    border-color: #ff4e00 !important;
    color: #fff;
    background-color: #ff4e00 !important;
    border-radius: 3px;
}




/*---------------------------issue ----------------------------*/
.owl-no-narrow {
    margin: 0px !important;
}

/*.header-container.type3 .header #search_mini_form {
    width: 300px !important;
}*/




/*------------------------------footer start------------------------------------*/

.footer-middle {
    background-color:#ff4e00 !important;
    color: #777;
    padding: 20px !important;
    font-size: 13px;
}
/*----------------------footer buttom------------------------*/
.main-container {
    padding: 20px 0 0px !important;
    min-height: 400px;
}
/*-----------------footer links display property---------------------*/
.footer-middle ul.links {
    padding: 0px;
    margin-top: -5px;
    margin-left: -24px;
    float: left !important;
    display: -webkit-box !important;
}
.footer-middle ul.links li i {
    margin-left: 20px !important;
}
.footer-bottom {
    /* min-height: 50px; */
    line-height: 43px;
    background-color: #3b3b3b !important;
    padding: 4px !important;
}
/*---------------------bottom footer text-----------------------------*/
.footer-bottom address {
    float: left !important;
    line-height: 40px;
    color: white;
}

/*-------------------back to top------------------------*/
#totop {
    height: 40px;
    position: fixed;
    right: 15px;
    width: 40px;
    z-index: 9999;
    bottom: 0;
    background-color: transparent !important;
    font-size: 16px;
    color: darkred !important;
    text-align: center;
    line-height: 1;
    padding: 11px 0;
    display: none;
    border-radius: 5px 5px 0 0;
}

/*-----------------------------------footer end----------------------------------------*/


/*-----------------slideshow image---------------------*/

/*------------------banner-----------------------*/

/*.top-container .category-banner {
    background-color: transparent;
    position: absolute;
    margin-left: 530px;
    margin-top: 50px;
}*/
/*----------------------------------------------media queries---------------------------------------------------------*/

@media only screen and (min-width: 1350px) and (max-width: 1450px){

    /*----------------------slide image property-----------------------*/
    #slideshow img {
        max-width: 100%;
        height: 400px !important;
    }
    /*-------------------------cart notification--------------------------*/
    .header-container.type3 .mybag-link .cart-info {
        display: block;
        position: absolute;
        text-align: center;
        width: 116% !important;
        top: 50%;
        margin-top: -15px !important;
    }
    /*------------------featured product homepage view-----------------------*/
    .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -85px;
        margin-bottom: -85px;
    }
    /*-------------------------featured product list view----------------------------*/
    .products-list li .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -71px !important;
        margin-bottom: -71px !important;
    }
    .category-products #products-list li .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -57px !important;
        margin-bottom: -57px !important;
    }
  /*  .category-products .products-grid .item .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -62px !important;
        margin-bottom: -62px !important;
    }*/
}
@media only screen and (min-width: 1200px) and (max-width: 1350px){

    /*-------------------------featured product list view----------------------------*/
    .products-list li .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -71px !important;
        margin-bottom: -71px !important;
    }
    .category-products #products-list li .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -57px !important;
        margin-bottom: -57px !important;
    }
    /*-------------------------cart notification--------------------------*/
    .header-container.type3 .mybag-link .cart-info {
        display: block;
        position: absolute;
        text-align: center;
        width: 116% !important;
        top: 50%;
        margin-top: -15px !important;
    }


    /*----------------------slide image property-----------------------*/
    #slideshow img {
        max-width: 100%;
        height: 400px !important;
    }
    /*----------------------Boabboat logo---------------------------*/
    .header>.logo {
        margin: 5px -82px 2px 0 !important;
        text-decoration: none!important;
        max-width: 500% !important;
        display: inline-block;
        vertical-align: middle;
        max-width: 170px;
        width: 40% !important;
        padding-bottom: 4px;
        top: -3px;
        position: relative;
        z-index: 2;
        transition: none;
        left: -5%;
    }
    /*--------------------featured product view homepage---------------------*/
    .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -83px;
        margin-bottom: -83px;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1200px)
{
    /*----------------------featured product homepage view grid-------------------------*/
    .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -83px;
        margin-bottom: -83px;
    }
    /*-------------------------featured product list view----------------------------*/
    .products-list li .item-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -57px !important;
        margin-bottom: -57px !important;
    }
    .category-products #products-list li .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -49px !important;
        margin-bottom: -49px !important;
    }

    /*-----------------------------cart notification area-------------------------------*/
    .header-container.type3 .mybag-link .cart-info {
        display: block;
        position: absolute;
        text-align: center;
        width: 116% !important;
        top: 50%;
        margin-top: -15px !important;
    }
    /*------------------------------cart area in header-----------------------------*/
    .cart-area {
        position: absolute;
        top: 114% !important;
        margin-top: -20px !important;
        z-index: 1;
        display: inline-block;
        height: 40px;
        right: -1% !important;
        text-align: right;
        vertical-align: middle;
    }

    /*---------------------------boabboat logo--------------------------------*/
    .header>.logo {
        margin: 5px -82px 2px 0 !important;
        text-decoration: none!important;
        max-width: 500% !important;
        display: inline-block;
        vertical-align: middle;
        max-width: 170px;
        width: 40% !important;
        padding-bottom: 4px;
        top: -3px;
        position: relative;
        z-index: 2;
        transition: none;
        left: -2%;
    }

    /*--------------------------search area in header----------------------------*/
    .header .form-search {
        overflow: visible;
        border: none !important;
        border-radius: 20px;
        position: relative;
        width: 100%;
        margin-top: 9px;
        margin-left: -32%;
        min-width: 250px;
        padding-right: 170px;
        background-color: #fff;
        left: 60% !important;
    }



}

@media only screen and (min-width: 705px) and (max-width: 991px)
{
    /*------------------featured product in homepage grid viw---------------------*/
    .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -108px;
        margin-bottom: -108px;
    }
    /*------------------featured product in homepage list viw---------------------*/
    .products-list li .item-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -42px !important;
        margin-bottom: -42px !important;
    }
    .category-products #products-list li .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -36px !important;
        margin-bottom: -36px !important;
    }
    /*----------------------cart icon in header----------------------------*/
    .header-container.type3 .mini-cart {
        width: auto;
        position: relative;
        top: 52px !important;
        left: -90px !important;
    }
    /*-------------------------cart item count----------------------------*/
    .header-container.type3 .mybag-link .cart-info {
        display: block;
        position: absolute;
        text-align: center;
        width: 111% !important;
        top: 50%;
        margin-top: -15px !important;
    }
/*-----------------------------cart notification-------------------------------*/
    .topCartContent {
        display: none;
        position: absolute;
        right: -13px !important;
        top: 40px;
        width: 300px;
        background-color: #fff;
        border-width: 6px 0 0;
        border-style: solid;
        z-index: 1;
        border-radius: 8px 8px 5px 5px;
        color: #777;
        box-shadow: 0 2px 8px rgba(0,0,0,0.5);
        margin-top: 15px !important;
    }
    /*-----------------------boabboat logo-------------------------*/
    .header>.logo {
        margin: 5px -82px 2px 0 !important;
        text-decoration: none!important;
        max-width: 500% !important;
        display: inline-block;
        vertical-align: middle;
        max-width: 170px;
        width: 40% !important;
        padding-bottom: 4px;
        top: -9px;
        position: relative;
        z-index: 2;
        transition: none;
        left: -2%;
    }
    /*-------------------------logo---------------------------*/
    .header .logo img {
        max-width: 300% !important;
        height: 87px !important;
        width: 114%;
    }

    /*-------------------------search area in header----------------------------*/
    .header-container.type3 .header .form-search {
        width: 250px !important;
        position: absolute;
        right: -60px;
        top: 40px;
        overflow: visible;
        border-width: 2px;
        margin-left: -355px !important;
        border-radius: 25px;
        border-color: #ccc;
    }

    /*--------------------------search area arrow disable-----------------------------*/
    .header-container.type3 .header .form-search:before {
        content: "";
        display: block;
        position: absolute;
        right: 60px;
        top: 0px !important;
        width: 20px;
        height: 20px;
        border: 10px solid transparent;
        border-bottom-color: #ccc;
    }

    /*---------------------------search icon in header------------------------------*/
    .header-container.type3 .search-area {
        position: relative;
        left: 64% !important;
        top: 0;
        float: none !important;
        margin: 35px -8px !important;
        z-index: 2;
    }
    /*----------------------------menu icon in header--------------------------------*/
    .header-container.type3 .menu-icon {
        width: 30px;
        text-align: center;
        line-height: 40px;
        height: auto;
        padding: 0;
        display: block;
        float: right;
        margin: 35px 127px !important;
    }

}
@media only screen and (min-width: 634px) and (max-width: 705px){

    /*-------------------------featured product in homepage grid view--------------------------*/
    .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -96px;
        margin-bottom: -96px;
    }
    /*-------------------------featured product in homepage list view--------------------------*/
    .products-list li .item-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -47px !important;
        margin-bottom: -47px !important;
    }
    /*-------------------------------search area in header------------------------------------*/
    .header-container.type3 .header .form-search {
        width: 300px !important;
        position: absolute;
        top: 66px !important;
        margin-left: -127% !important;
        overflow: visible;
        border-width: 5px;
        border-radius: 25px;
        border-color: #ccc;
    }

    /*--------------------------search icon in header---------------------------------*/
    .header-container.type3 .search-area {
        position: relative;
        left: 39% !important;
        top: 0;
        float: none !important;
        margin: 35px 10px;
        z-index: 2;
    }

    /*---------------------------search area in header--------------------------------*/
    .header-container.type3 .header .form-search {
        width: 300px !important;
        position: absolute;
        top: 66px !important;
        margin-left: -161% !important;
        overflow: visible;
        border-width: 5px;
        border-radius: 25px;
        border-color: #ccc;
    }

    /*--------------------------menu icon in header-------------------------------*/
    .header-container.type3 .menu-icon {
        width: 30px;
        text-align: center;
        line-height: 40px;
        height: auto;
        padding: 0;
        display: block;
        float: right;
        margin: 35px -12px !important;
    }

    /*-------------------------cart icon in header------------------------------*/
    .header-container.type3 .mini-cart {
        width: auto;
        position: relative;
        top: 56px !important;
        left: -240% !important;
    }
    /*------------------------cart item quantity notification in cart-----------------------------*/
    .header-container.type3 .mybag-link .cart-info {
        display: block;
        position: absolute;
        text-align: center;
        width: 116% !important;
        top: 50%;
        margin-top: -15px !important;
    }

    /*---------------------------search icon in header-------------------------------*/
    .header-container.type3 .header .form-search {
        width: 300px !important;
        position: relative;
        top: 66px !important;
        margin-left: -992% !important;
        overflow: visible;
        border-width: 5px;
        border-radius: 25px;
        border-color: #ccc;
    }

    /*------------------------boabboat logo in header--------------------------*/
    .header>.logo {
        margin: 5px -82px 2px 0 !important;
        text-decoration: none!important;
        max-width: 500% !important;
        display: inline-block;
        vertical-align: middle;
        max-width: 170px;
        width: 46% !important;
        padding-bottom: 4px;
        top: -3px;
        position: relative;
        z-index: 2;
        transition: none;
        left: 0% !important;
    }

    /*-----------------------cart notification in header--------------------------*/
    .topCartContent {
        display: none;
        position: absolute;
        right: -16px !important;
        top: 40px;
        width: 300px;
        background-color: #fff;
        border-width: 6px 0 0;
        border-style: solid;
        z-index: 1;
        border-radius: 8px 8px 5px 5px;
        color: #777;
        box-shadow: 0 2px 8px rgba(0,0,0,0.5);
        margin-top: 25px !important;
    }


}

@media only screen and (min-width: 588px) and (max-width: 634px){

    /*-----------------------featured products in homepage grid view------------------------*/
    .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -80px;
        margin-bottom: -80px;
    }
    /*-----------------------featured products in homepage list view------------------------*/
    .products-list li .item-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -47px !important;
        margin-bottom: -47px !important;
    }
    /*-------------------------search icon in heaer------------------------------*/
    .header-container.type3 .header .form-search {
        width: 300px !important;
        position: absolute;
        top: 66px !important;
        margin-left: -727% !important;
        overflow: visible;
        border-width: 5px;
        border-radius: 25px;
        border-color: #ccc;
    }

    /*---------------------item quantity in cart icon-----------------------*/
    .header-container.type3 .mybag-link .cart-info {
        display: block;
        position: absolute;
        text-align: center;
        width: 116% !important;
        top: 50%;
        margin-top: -15px !important;
    }
    /*---------------------search icon -----------------------*/
    .header-container.type3 .search-area {
        position: relative;
        left: 42% !important;
        top: 0;
        float: none !important;
        margin: 35px 10px;
        z-index: 2;
    }
    /*--------------------logo-----------------------*/
    .header>.logo {
        margin: 5px -82px 2px 0 !important;
        text-decoration: none!important;
        max-width: 500% !important;
        display: inline-block;
        vertical-align: middle;
        max-width: 170px;
        width: 42% !important;
        padding-bottom: 9px;
        top: -6px;
        position: relative;
        z-index: 2;
        transition: none;
        left: -1%;
    }
    /*----------------logo-----------------*/
    .header .logo img {
        max-width: 200% !important;
        height: 76px !important;
        width: 116% !important;
    }

    /*-------------------menu icon ----------------------*/
    .header-container.type3 .menu-icon {
        width: 30px;
        text-align: center;
        line-height: 40px;
        height: auto;
        padding: 0;
        display: block;
        float: right;
        margin: 35px -55px !important;
    }

    .header-container.type3 .menu-icon {
        width: 30px;
        text-align: center;
        line-height: 40px;
        height: auto;
        padding: 0;
        display: block;
        float: right;
        margin: 35px -32px !important;
    }

    /*------------------cart icon--------------------*/
    .header-container.type3 .mini-cart {
        width: auto;
        position: relative;
        top: 48px !important;
        left: -63px !important;
    }
}

@media only screen and (min-width: 530px) and (max-width: 588px){

    /*--------------------featured product in grid view---------------------*/
    .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -73px;
        margin-bottom: -73px;
    }
    /*--------------------featured product in list view---------------------*/
    .products-list li .item-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -47px !important;
        margin-bottom: -47px !important;
    }
    /*------------------------item quantity in cart icon---------------------------*/
    .header-container.type3 .mybag-link .cart-info {
        display: block;
        position: absolute;
        text-align: center;
        width: 114% !important;
        top: 50%;
        margin-top: -15px !important;
    }

    /*-------------------------cart notification---------------------------*/
    .topCartContent {
        display: none;
        position: absolute;
        right: -16px !important;
        top: 40px;
        width: 300px;
        background-color: #fff;
        border-width: 6px 0 0;
        border-style: solid;
        z-index: 1;
        border-radius: 8px 8px 5px 5px;
        color: #777;
        box-shadow: 0 2px 8px rgba(0,0,0,0.5);
        margin-top: 43px !important;
    }

    /*--------------------search icon----------------------*/
    .header-container.type3 .header .form-search {
        width: 300px !important;
        position: relative;
        top: 66px !important;
        margin-left: -918% !important;
        overflow: visible;
        border-width: 5px;
        border-radius: 25px;
        border-color: #ccc;
    }

    /*---------------------logo------------------------*/
    .header>.logo {
        margin: 30px 40px 30px 0;
        text-decoration: none!important;
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
        max-width: 170px;
        width: 56% !important;
        padding-bottom: 4px;
        top: -3px;
        position: absolute !important;
        z-index: 2;
        transition: none;
        left: 1%;
    }

    /*-----------------------menu icon---------------------------*/
    .header-container.type3 .menu-icon {
        width: 30px;
        position: static !important;
        text-align: center;
        line-height: 40px;
        height: auto;
        padding: 0;
        display: block;
        float: right;
        margin: 35px -34px !important;
    }

    /*----------------------------cart icon-------------------------------*/
    .header-container.type3 .mini-cart {
        width: auto;
        position: relative;
        top: 48px !important;
        left: -72px !important;
    }

    /*-------------------------search icon---------------------------*/
    .header-container.type3 .search-area {
        position: relative !important;
        left: 64% !important;
        top: 1px !important;
        float: none !important;
        margin: 35px 10px;
        z-index: 2;
    }


}

@media only screen and (min-width: 475px) and (max-width: 530px){

    /*--------------------featured product in grid view---------------------*/
    .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -68px;
        margin-bottom: -68px;
    }
    /*--------------------featured product in list view---------------------*/
    .products-list li .item-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -47px !important;
        margin-bottom: -47px !important;
    }
    /*-------------------------logo---------------------------*/
    .header>.logo {
        margin: 30px 40px 30px 0;
        text-decoration: none!important;
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
        max-width: 170px;
        width: 56% !important;
        padding-bottom: 4px;
        top: -3px;
        position: absolute !important;
        z-index: 2;
        transition: none;
        left: 1%;
    }

    /*-----------------------search icon----------------------------*/
    .header-container.type3 .header .form-search {
        width: 300px !important;
        position: absolute;
        top: 66px !important;
        margin-left: -827% !important;
        overflow: visible;
        border-width: 5px;
        border-radius: 25px;
        border-color: #ccc;
    }

    /*-----------------------search area arrow disable----------------------------*/
    .header-container.type3 .header .form-search:before {
        content: "";
        display: block;
        position: absolute;
        right: 60px;
        top: 0px !important;
        width: 20px;
        height: 20px;
        border: 10px solid transparent;
        border-bottom-color: #ccc;
    }
    /*-------------------------cart notification---------------------------*/
    .topCartContent {
        display: none;
        position: absolute;
        right: -14px !important;
        top: 68px;
        width: 300px;
        background-color: #fff;
        border-width: 6px 0 0;
        border-style: solid;
        z-index: 1;
        border-radius: 8px 8px 5px 5px;
        color: #777;
        box-shadow: 0 2px 8px rgba(0,0,0,0.5);
        margin-top: 10px !important;
    }

    /*------------------------search icon--------------------------*/
    .header-container.type3 .search-area {
        position: absolute !important;
        left: 64% !important;
        top: 1px !important;
        float: none !important;
        margin: 35px 10px;
        z-index: 2;
    }

    /*-------------------menu icon-------------------------*/
    .header-container.type3 .menu-icon {
        width: 30px;
        position: static !important;
        text-align: center;
        line-height: 40px;
        height: auto;
        padding: 0;
        display: block;
        float: right;
        margin: 35px -34px !important;
    }

    /*------------------cart icon--------------------*/
    .header-container.type3 .mini-cart {
        width: auto;
        position: relative;
        top: 49px !important;
        left: -59px !important;
    }

    /*--------------------item quantity in cart----------------------*/
    .header-container.type3 .mybag-link .cart-info {
        display: block;
        position: absolute;
        text-align: center;
        width: 100% !important;
        top: 50%;
        margin-top: -15px !important;
    }

}

@media only screen and (min-width: 420px) and (max-width: 475px){

    /*--------------------featured product in grid view---------------------*/
    .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -59px;
        margin-bottom: -59px;
    }
    /*--------------------featured product in list view---------------------*/
    .products-list li .item-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -90px !important;
        margin-bottom: -90px !important;
    }
    /*--------------------logo---------------------*/
    .header>.logo {
        margin: 30px 40px 30px 0;
        text-decoration: none!important;
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
        max-width: 170px;
        width: 56% !important;
        padding-bottom: 4px;
        top: -3px;
        position: absolute !important;
        z-index: 2;
        transition: none;
        left: 1%;
    }

    /*--------------------search icon---------------------*/
    .header-container.type3 .search-area {
        position: absolute !important;
        left: 62% !important;
        top: 1px !important;
        float: none !important;
        margin: 35px 10px;
        z-index: 2;
    }

    /*--------------------search area---------------------*/
    .header-container.type3 .header .form-search {
        width: 300px !important;
        position: absolute;
        top: 66px !important;
        margin-left: -107% !important;
        overflow: visible;
        border-width: 5px;
        border-radius: 25px;
        border-color: #ccc;
    }

    /*--------------------menu icon---------------------*/
    .header-container.type3 .menu-icon {
        width: 30px;
        position: static !important;
        text-align: center;
        line-height: 40px;
        height: auto;
        padding: 0;
        display: block;
        float: right;
        margin: 35px -49px !important;
    }

    /*--------------------cart icon---------------------*/
    .header-container.type3 .mini-cart {
        width: auto;
        position: relative;
        top: 49px !important;
        left: -47px !important;
    }
    /*--------------------cart notification---------------------*/
    .header-container.type3 .mybag-link .cart-info {
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        margin-top: -15px !important;
    }
}

@media only screen and (min-width: 375px) and (max-width: 420px){

    .top-container >.breadcrumbs {
        padding-top: 12px;
        padding-bottom: 22px !important;
        font-size: 13px;
        line-height: 1;
        color: #fff;
        background-color: #171717;
    }
    /*--------------------featured product in grid view---------------------*/
    .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -51px;
        margin-bottom: -51px;
    }
    /*--------------------featured product in list view---------------------*/
    .products-list li .item-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -88px !important;
        margin-bottom: -88px !important;
    }
    /*--------------------logo---------------------*/
    .header>.logo {
        margin: 30px 40px 30px 0;
        text-decoration: none!important;
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
        max-width: 170px;
        width: 63% !important;
        padding-bottom: 4px;
        top: 22px;
        position: absolute !important;
        z-index: 2;
        transition: none;
        left: 0%;
    }

    /*--------------------logo---------------------*/
    .header-container.type3 .header .logo img {
        height: 61px !important;
        width: 232px !important;
    }

    /*--------------------search area arrow disable---------------------*/
    .header-container.type3 .header .form-search:before {
        content: "";
        display: block;
        position: absolute;
        right: 60px;
        top: 0px !important;
        width: 20px;
        height: 20px;
        border: 10px solid transparent;
        border-bottom-color: #ccc;
    }

    /*--------------------search icon---------------------*/
    .header-container.type3 .search-area {
        position: absolute !important;
        left: 75% !important;
        top: 16px !important;
        float: none !important;
        margin: 35px 16px !important;
        z-index: 2;
    }

    /*--------------------search area---------------------*/
    .header-container.type3 .header .form-search {
        width: 300px !important;
        position: absolute;
        top: 42px !important;
        margin-left: -948% !important;
        overflow: visible;
        border-width: 5px;
        border-radius: 25px;
        border-color: #ccc;
    }
/*--------------------------cart notification--------------------------------*/
    .topCartContent {
        display: none;
        position: absolute;
        right: -13px !important;
        top: 40px;
        width: 300px;
        background-color: #fff;
        border-width: 6px 0 0;
        border-style: solid;
        z-index: 1;
        border-radius: 8px 8px 5px 5px;
        color: #777;
        box-shadow: 0 2px 8px rgba(0,0,0,0.5);
        margin-top: -9px !important;
    }
    /*--------------------menu icon---------------------*/
    .header-container.type3 .menu-icon {
        width: 30px;
        position: relative !important;
        text-align: center;
        line-height: 40px;
        height: auto;
        padding: 0;
        top: 14px;
        display: block;
        float: right;
        margin: 35px -90px !important;
    }
/*--------------------cart properties--------------------------*/
    .header-container.type3 .mini-cart {
        width: auto;
        position: relative;
        top: 72px !important;
        left: -36px !important;
    }
    .header-container.type3 .mybag-link .cart-info {
        display: block;
        position: absolute;
        text-align: center;
        width: 112% !important;
        top: 51%;
        margin-top: -15px !important;
    }
    /*--------------------cart notification bar--------------------------*/
    .topCartContent {
        display: none;
        position: absolute;
        right: 0;
        top: 67px !important;
        width: 300px;
        background-color: #fff;
        border-width: 6px 0 0;
        border-style: solid;
        z-index: 1;
        border-radius: 8px 8px 5px 5px;
        color: #777;
        box-shadow: 0 2px 8px rgba(0,0,0,0.5);
        margin-top: 10px;
    }
    /*----------------------header height adjustment------------------------*/
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: -25px !important;
    }

}

@media only screen and (min-width: 320px) and (max-width: 375px){

    /*--------------------featured product in grid view---------------------*/
    .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -43px;
        margin-bottom: -43px;
    }
    /*--------------------featured product in list view---------------------*/
    .products-list li .item-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -90px !important;
        margin-bottom: -90px !important;
    }
    /*--------------header adjustment-------------------*/
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: -25px !important;
    }
    /*------------------top link area---------------------*/
    .top-links-container {
        background-color: #f0f0ed;
        padding: 0px 0 !important;
        position: relative;
        z-index: 200;
    }
    /*-----------------logo--------------------*/
    .header>.logo {
        margin: 30px 40px 30px 0;
        text-decoration: none!important;
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
        max-width: 170px;
        width: 70% !important;
        padding-bottom: 4px;
        top: 28px !important;
        position: relative !important;
        z-index: 2;
        transition: none;
        left: -2%;
    }
/*--------------------------cart item countity-----------------------------*/
    .header-container.type3 .mybag-link .cart-info {
        display: block;
        position: absolute;
        text-align: center;
        width: 109% !important;
        top: 50%;
        margin-top: -14px !important;
    }
    /*--------------------search icon---------------------*/
    .header-container.type3 .search-area {
        position: absolute !important;
        left: 76% !important;
        top: 13px !important;
        float: none !important;
        margin: 35px 16px !important;
        z-index: 2;
    }

    /*--------------------search area---------------------*/
    .header-container.type3 .header .form-search {
        width: 280px !important;
        position: absolute;
        top: 34px !important;
        margin-left: -252px !important;
        overflow: visible;
        border-width: 5px;
        border-radius: 25px;
        border-color: #ccc;
    }

    /*--------------------menu icon---------------------*/
    .header-container.type3 .menu-icon {
        width: 30px;
        position: relative !important;
        top: 12px;
        text-align: center;
        line-height: 40px;
        height: auto;
        padding: 0;
        display: block;
        float: right;
        margin: 35px -100px !important;
    }

    /*--------------------cart icon---------------------*/
    .header-container.type3 .mini-cart {
        width: auto;
        position: relative;
        top: 69px !important;
        left: -14px !important;
    }
/*--------------------cart notification-------------------------*/
    .topCartContent {
        display: none;
        position: absolute;
        right: -50px !important;
        top: 40px;
        width: 300px;
        background-color: #fff;
        border-width: 6px 0 0;
        border-style: solid;
        z-index: 1;
        border-radius: 8px 8px 5px 5px;
        color: #777;
        box-shadow: 0 2px 8px rgba(0,0,0,0.5);
        margin-top: 3px !important;
    }
/*-------------------------search bar properties-------------------------------*/
    .header-container.type3 .header .form-search:before {
        content: "";
        display: block;
        position: absolute;
        right: 60px;
        top: 0px !important;
        width: 20px;
        height: 20px;
        border: 10px solid transparent;
        border-bottom-color: #ccc;
    }

   /* div.filter-title .content, h2.filter-title .content {
        background-color: #fff;
        padding-right: 0px !important;
        margin-right: -21px ;
        display: inline;
    }*/

    /*--------------------logo---------------------*/
    .header-container.type3 .header .logo img {
        height: 54px !important;
        width: 205px !important;
    }

    /*--------------------category page top container padding adjustment-----------------------*/
    .top-container >.breadcrumbs {
        padding-top: 12px;
        padding-bottom: 26px !important;
        font-size: 13px;
        line-height: 1;
        color: #fff;
        background-color: #171717;
    }


    div.filter-title .content, h2.filter-title .content {
        background-color: #fff;
        padding-right: 0px !important;
        PADDING-LEFT: 20px !important;
        display: inline;
    }
    /*-----------------------category page product div property------------------------*/
    .category-products .products-grid li.item .product-image {
        width: 100%;
        display: block;
        position: relative;
        z-index: 0;
        overflow: hidden;
        border-radius: 3px;
        background: #fff;
        min-height: 0px !important;
    }

    /*ul, ol {
        list-style: none;
        margin: -7px !important;
        padding:0px;
    }*/
}
@media only screen and (min-width: 0px) and (max-width: 320px){

    /*-----------------------category page product div property------------------------*/
    .category-products .products-grid li.item .product-image {
        width: 100%;
        display: block;
        position: relative;
        z-index: 0;
        overflow: hidden;
        border-radius: 3px;
        background: #fff;
         min-height: 0px !important;
    }
    /*--------------------featured product in grid view---------------------*/
    .product-image-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -38px;
        margin-bottom: -38px;
    }
    /*--------------------featured product in grid view---------------------*/
    .products-list li .item-area .product-image img {
        max-width: 100%;
        height: auto;
        margin-top: -90px !important;
        margin-bottom: -90px !important;
    }
    /*--------------------featured product width adjustment---------------------*/
    .products-list .product-image-area {
        width: 250px !important;
        display: inline-block;
        float: none;
    }
    /*------------------------logo----------------------*/
    .header>.logo {
        margin: 30px 40px 30px 0;
        text-decoration: none!important;
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
        max-width: 170px;
        width: 56% !important;
        padding-bottom: 4px;
        top: 28px !important;
        position: relative !important;
        z-index: 2;
        transition: none;
        left: -2%;
    }
    /*----------------------logo image property----------------------*/
    .header-container.type3 .header .logo img {
        height: 54px !important;
        width: 205px !important;
    }
    /*----------------------cart icon----------------------*/
    .header-container.type3 .mini-cart {
        width: auto;
        position: relative;
        top: 69px !important;
        left: 19px !important;
    }
    /*----------------------menu icon----------------------*/
    .header-container.type3 .menu-icon {
        width: 30px;
        position: relative !important;
        top: 14px;
        text-align: center;
        line-height: 40px;
        height: auto;
        padding: 0;
        display: block;
        float: right;
        margin: 35px -94px !important;
    }
    /*----------------------header property----------------------*/
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: -25px !important;
    }
    /*----------------------search area----------------------*/
    .header-container.type3 .header .form-search {
        width: 250px !important;
        position: absolute;
        right: -60px;
        top: 54px !important;
        overflow: visible;
        border-width: 2px;
        margin-left: -161px !important;
        border-radius: 25px;
        border-color: #ccc;
    }

    /*----------------------search area arrow----------------------*/
    .header-container.type3 .header .form-search:before {
        content: "";
        display: block;
        position: absolute;
        right: 60px;
        top: 0px !important;
        width: 20px;
        height: 20px;
        border: 10px solid transparent;
        border-bottom-color: #ccc;
    }
    /*----------------------search icon----------------------*/
    .header-container.type3 .search-area {
        position: relative;
        left: 63% !important;
        top: 12px !important;
        float: none !important;
        margin: 35px -8px !important;
        z-index: 2;
    }
    /*----------------------no. of item quantity shown in cart icon----------------------*/
    .header-container.type3 .mybag-link .cart-info {
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        margin-top: -15px !important;
    }

    /*----------------------cart notification bar----------------------*/
    .topCartContent {
        display: none;
        position: absolute;
        right: -55px!important; ;
        top: 40px;
        width: 300px;
        background-color: #fff;
        border-width: 6px 0 0;
        border-style: solid;
        z-index: 1;
        border-radius: 8px 8px 5px 5px;
        color: #777;
        box-shadow: 0 2px 8px rgba(0,0,0,0.5);
        margin-top: 10px;
    }
    /*ul, ol {
        list-style: none;
        margin: -6px !important;
        padding: 0;
    }*/
}

/*----------------------------------------------media queries end---------------------------------------------------------*/





















